<button *ngIf="button.show" (click)="onClick()">{{ button.text }}</button>
<div class="content" id="grid">
  <div class="score">
    <p>Score: {{ score }}</p>
  </div>
  <div *ngFor="let col of _gridArray; index as i" class="col" id="column">
    <div
      *ngFor="let row of col; index as j"
      id="cell"
      [style.height.px]="H"
      [style.width.px]="H"
      class="row"
      [ngClass]="row.tenant ?? 'empty'"
      [ngStyle]="row.style"
    ></div>
  </div>
  <a id="bug" (click)="log()">🪰</a>
</div>