:host
  background: var(--america)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100%

.content
  display: flex
  justify-content: center
  align-items: center

button
  z-index: 1
  font-weight: 700
  position: absolute
  top: 5%
  left: 50%
  transform: translate(-50%,-50%)
  font-size: 1em

button:hover
  background-color: green
  color: white

#cell
  background-color: #c8ff9166
  outline: 1px solid black
  &.snake
    background-color: green
  &.food
    background-color: red

.col
  overflow: hidden
  color: black
.row
  color: black

//*[@id="column"][9]//*[@id="cell"][19]
