:host
  background: var(--america)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100%

> ::before
  content: ''
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: red
  z-index: -1

.content
  display: flex
  justify-content: center
  align-items: center
  border: 2px solid yellowgreen

  outline: 3px solid aliceblue

button
  z-index: 1
  font-weight: 700
  position: absolute
  top: 5%
  left: 50%
  transform: translate(-50%,-50%)
  font-size: 1em

button:hover
  background-color: green
  color: white

#cell
  background-color: white//#301230
  outline: 1px solid #6b1b6b42
  &.snake
    background-color: green
  &.food
    background-color: red

.col
  overflow: hidden
  color: black
.row
  color: black

//*[@id="column"][9]//*[@id="cell"][19]
