<button *ngIf="button.show" (click)="onClick()">{{ button.text }}</button>
<div *ngIf="windowLargeEnough; else tooSmall" class="content" id="grid">
  <div class="score">
    <p>Score: {{ scoreDisplay(foodAte) }}</p>
    <p>High Score: {{ scoreDisplay(highscore) }}</p>
  </div>
  <div *ngFor="let col of _gridArray; index as i" class="col" id="column">
    <div
      *ngFor="let row of col; index as j"
      id="cell"
      [style.height.px]="H"
      [style.width.px]="H"
      class="row"
      [ngClass]="row.tenant ?? 'empty'"
      [ngStyle]="row.style"
    ></div>
  </div>
  <a id="bug" (click)="log()">🪰</a>
</div>
<ng-template #tooSmall>
  <div class="too-small content">
    <h1 class="outline-text">Your screen is too small...</h1>
    <div>
      <p *ngIf="name">{{'<--' }} {{ name }}</p>
      <img src="/angry_snake.png" alt="">
    </div>
    <input *ngIf="!name" type="text" placeholder="Your name here" #name (change)="nameSnake(name)"/>
  </div>
</ng-template>
