.mat-mdc-card
    flex-direction: column
    flex-basis: 33%
    padding: 2em
    section:has(img)
        text-align: center
        margin: 2em auto 1em
        img
            width: 100%
.mat-mdc-card-header
    padding: 0

.mat-mdc-card-avatar
    height: auto

@media screen and (min-width: 600px)
    .mat-mdc-card
        flex-direction: row
        padding: 2em 4em
        section:has(img)
            margin: 0 2em 0 0
            img
                max-width: 700px
                padding: 2em