.card-wrapper
    display: flex
    flex-wrap: wrap                                                                                                                                                                                                                                                                                               
.mat-mdc-card-title
    text-decoration: underline
.mat-mdc-card
    flex: 1
    padding: 2em
    margin: 2em
    section:has(img)
        text-align: center
        margin: 2em auto 1em
        max-height: 500px
        img
            max-height: 500px
        img:not(:first-child)
            display: none
    .details
        //rtl
        text-align: right

        line-height: 0em
        padding-bottom: 1em
.mat-mdc-card-header
    padding: 0

.mat-mdc-card-avatar
    height: auto

@media screen and (max-width: 600px)
    .card-wrapper
        display: flex
        flex-wrap: wrap
        flex-direction: column
    .mat-mdc-card
        flex-basis: 33%
        padding: 2em
        margin: .5em
        section:has(img)
            text-align: center
            margin: 2em auto 1em
            img
                width: 100%
            img:not(:first-child)
                display: block
        .details
            text-align: right
            line-height: 0em
            padding-bottom: 1em
    .mat-mdc-card-header
        padding: 0

    .mat-mdc-card-avatar
        height: auto