<ng-container *ngFor="let i of arr">
  <mat-card class="example-card">
    <mat-card-header>
      <!-- <mat-icon>more_vert</mat-icon>
      <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Untitled</mat-card-title>
      <mat-card-subtitle>2022</mat-card-subtitle>
    </mat-card-header>
    <div>
      <section>
        <img src="https://loremflickr.com/200/200?random={{ i }}" />
      </section>
      <section>
        <p>
          Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
          Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint
          efficiantur his ad. Eum no molestiae voluptatibus.
        </p>
      </section>
    </div>
  </mat-card>
</ng-container>
