@use '../../../sass/mixins' as *
@use '../../../sass/mat-card'

.mdc-card
    padding: 2em

div
    margin: 1em

h1
    text-align: center

section
    & > h4
        margin: 0

    & > p
        padding: 1em

    & + section
        margin-top: 2em
