<div>
  <mat-card>
    <h1>ABOUT ME</h1>
    <section summary>
      <h4>Intro</h4>
      <mat-divider></mat-divider>
      <p>
        Ok, so to be honest, I don't want an "About Me" page so much as it was important to me, stylisticly, that there
        was another route available to choose from. So here we are. 😅
      </p>
      <p>
        As to not waste this section of digital space, of which there is an infinite supply of, I will honor the name of
        the route and share a bit about me. I was born and have lived most of my life in "The Last Best Place," the
        great state of Montana! Sometimes <i>affectionatly</i> called "Montanada" or "Montucky," an amalgamation of
        Montana and Canada/Kentucky. To be clear, because of the political climate USA currently faces, we
        Montanans love our neighbors to the North, or at the very least, I do.
        <small>From a distance, like as their own separate country. 😉</small>
      </p>
    </section>
    <section history>
      <h4>History</h4>
      <mat-divider></mat-divider>
      <p>
        Oh this is the easiest part, I have plenty of history now, just ask my 11 year old cousin...
        <small>lil' bastard.</small> So as we covered, Montana, but after graduating high school I joined the Air Force
        and left my hometown. I asked to be placed anywhere overseas or somewhere in the northern states - they sent me
        to Valdosta, Georgia. I was not a fan. It felt like my hometown but with more religious zeal and humidity soaked
        beds. I feel sick now just thinking about it. From Georgia, I was deployed to Afghanistan, where I spent 8
        months mostly working out, playing video games, and occasionally doing my job of delivering munitions. After
        returning, they sent me off to South Korea, and a year later I spent the remaining 2.5 years of my enlistment in
        Okinawa, Japan eating as much cheap, and certainly delicious, sushi, ramen, and drinking Orion beer.
      </p>
    </section>
    <section programming>
      <h4>Programming</h4>
      <mat-divider></mat-divider>
      <p>
        During my time in Korea though, I had my first taste of programming in what I consider an unusual way. I was
        working as a Plans & Scheduler, for the 51st Munitions Squadron, a big part of my job initially was based in
        Excel. I hated it. My supervisor immediately offloaded the Excel work to me, for him, it took the entire week to
        compile all of the information for the weekly briefing with supervision. I was able to automate the entire
        process to a few minutes work via formulas, VBA, and macros. I was hooked. When faced with my separtion from
        military service a friend of mine suggested I consider going to school for programming, so I did.
      </p>
      <p>
        I got my first tech job a few months before starting college. I joined a startup as tech support,
        mostly styling buttons and configuring accounts but I was asked if I could help with their Excel issues and that
        evolved in to an Excel and Selenium based webscraping of our admin panel to compile data and evaluate the
        effectiveness of our product to our customers.
      </p>
    </section>
    <section art>
      <h4>Art</h4>
      <mat-divider></mat-divider>
      <p>
        Last, but not least, I have a love of art. A big thanks to my grandparents, who guided and
        encouranged me in my creative endevours. As the homepage of this site suggests, my difficult realtionship
        with art comes from the wide range of mediums that I enjoy. I love to draw, paint, and sculpt and feel that I
        don't attribute enough time to any of them. I high school I was particularly fond of graffiti and street art, and
        spent much of my free time, ya know, in class, fullfilling unpaid commissions of everyones names.
      </p>
      <p>
        In my senior year in high school I was selected to paint a mural of the local high school mascot, a
        <i>bronc</i>, don't call it a "bronco" 😑, as part of the annual tradition across the 4 highschools of my
        hometown.
      </p>
      <p>
        In South Korea, my mural design was selected again, as well as my
        <a href="https://en.wikipedia.org/wiki/Challenge_coin">"challenge coin"</a> design for the squandron.
      </p>
      <p>
        I took a long heiatus from art after that. I tried my hand at virtual graffiti and "tagged" a 80 by 15 foot
        wall, (Siiiick right?) but was otherwise didnt come back to art until I joined a jewellry class as an elective
        in my junior year in college. It wasn't my first experience but I loved it. I was reminded how much I enjoy the
        art community, and though I bought supplies to continue working with metal, It has been watercoloring that
        really took off for me. With watercolor I feel free to experiment and play with color, unlike oil, at my
        ability, I have room to make mistakes and learn from them. I don't have to make every peice be so precious to
        me. At my current place with art, I feel this has given me the best opportunity to grow and learn.
      </p>
    </section>
    <section future>
      <h4>Future</h4>
      <mat-divider></mat-divider>
      <p>
        I am excited to see where my journey takes me next. Currently I am looking to escape the USA. I recently spent a
        month in New Zealand and fel in love with Christchurch but I am open to other locations. I am looking for a
        chance to express myself creatively and work on interesting projects. I am particularly interested in working
        with companies that allow me to work with some freedom to express my ideas and afford me the time to explore my
        interests outside of work too.
      </p>
      <p>
        If you read this far, thank you for your time. Nerd. 😜 If you would like to get in touch, the best way would be
        through email. You can contact at
        <a href="mailto:colton@torgs.art">colton&#x40;torgs.art</a>.
      </p>
    </section>
  </mat-card>
</div>
