<header class="header" [ngClass]="open ? (isSticky ? 'sticky' : 'open') : 'close'" [hidden]="!open">
  <img src="/artsy-logo.png" alt="Torg's Art logo" />
  <nav class="header-nav">
    <!-- Nav links -->
    <button
      *ngFor="let route of routes"
      class="header-nav-link"
      [routerLink]="[route.path]"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      mat-raised-button
    >
      {{ route.label }}
    </button>
    <button (click)="contactMe()" class="header-nav-link" mat-raised-button>Contact Me</button>
  </nav>
</header>

<!-- keeps the scroll position -->
<div class="header-padding" [style.width]="open ? '200px' : ''"></div>

<!-- Close button -->
<button mat-mini-fab (click)="toggleOpen()" class="close">
  <mat-icon>{{ open ? "visibility_off" : "visibility_on" }}</mat-icon>
</button>
