<header
  class="header"
  [ngClass]="open ? 'open' : 'close'"
  [class.sticky]="isSticky"
>
  <h1 class="header-title">Torg's Art</h1>
  <nav class="header-nav">
    <button
      *ngFor="let route of routes"
      class="header-nav-link"
      [routerLink]="[route.path]"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      mat-raised-button
    >
      {{ route.label }}
    </button>
  </nav>
</header>

<button mat-mini-fab (click)="toggleOpen()" class="close">
  <mat-icon>{{ open ? "visibility_on" : "visibility_off" }}</mat-icon>
</button>
