@use '../../../sass/variables' as *

.header
    background-color: opacify($purple-haze, .5)
    backdrop-filter: blur(3px)
    color: white
    font-weight: bolder
    height: 100%
    flex-direction: column
    display: inline-flex
    z-index: 1000
    white-space: nowrap
    @media screen and (max-width: 600px)
        position: fixed

    img
        height: 100px
        width: 110px
        // position: absolute
        margin: 1em
        align-self: center

    nav
        gap: .5em
        display: flex
        flex-wrap: nowrap
        justify-content: start
        line-height: 1
        flex-direction: column
        button
            padding: 0
            border-radius: 0
            margin: 0 1em
            background-color: transparent
            color: white
            border: none
            box-shadow: none
            font-size: x-large
            justify-content: start
            &:hover
                margin: 0
                padding: 0 1em
                background-color: opacify($purple-haze, .3)
                text-decoration: underline
                // font-size: xx-large

    &.sticky
        position: fixed
        animation: sticky .5s ease forwards
    &.open
        animation: sticky .5s ease forwards
    &.close
        display: none
        animation: sticky .5s ease reverse

.close
    z-index: 1000
    position: fixed
    top: 0
    right: 0
    margin: 1em
    padding: 0.35em
    color: white
    border-radius: 50%
    background: #4e4c63
    &:hover
        background: #544eff
        border-radius: 50%

@keyframes sticky
    from
        transform: translatex(-100%)
    to
        transform: translatex(0)

// @media screen and (min-width: 600px)
//     .header
//         width: 100%
//         height: unset
//         nav
//             flex-direction: row
//             justify-content: center 