.header
    background-color: #333
    color: white
    font-weight: bolder
    width: 100%
    z-index: 1000
    height: 150px

    h1
        text-align: center
        margin: 0
        padding: 12px
    nav
        gap: .5em
        display: flex
        flex-wrap: nowrap
        justify-content: center
        line-height: 1
        padding: 0 1rem 1rem

    &.sticky
        position: fixed
        animation: sticky .5s ease forwards
    &.open
        animation: sticky .5s ease forwards
    &.close
        display: none
        animation: sticky .5s ease reverse

.close
    z-index: 1000
    position: fixed
    top: 0
    right: 0
    margin: 1em
    padding: 0.35em
    color: white
    border-radius: 50%
    background: #4e4c63
    &:hover
        background: #544eff
        border-radius: 50%

@keyframes sticky
    from
        transform: translateY(-100%)
    to
        transform: translateY(0)
