<div>
  <!-- <h3>About Me:</h3>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
</div> -->

  <mat-card class="resume">
    <h4>Hey!</h4>
    <p>
      I'm <b>Colton Torgrimson,</b> a creative spirit from Billings, Montana,
      <b><span style="color: red">U</span><span style="color: white">S</span><span style="color: blue">A</span></b
      >.
    </p>

    <section id="summary">
      <p>
        I'm a <b>Junior Software Engineer</b> with a passion for creating
        <span>
          <ng-container [ngTemplateOutlet]="beautiful" [ngTemplateOutletContext]="{ word: 'beautiful' }"></ng-container>
          functional, and user-friendly
        </span>
        applications. I'm a quick learner who enjoys working with a team to solve complex problems.
      </p>
    </section>

    <mat-divider></mat-divider>
    <h6>History:</h6>
    <p>
      In 2015 as a <b>Plans and Scheduler</b> in South Korea, I discovered the power of <b>Excel formulas</b> to
      automate repetitive tasks and instantly fell in love with the "logic-puzzles" that programming provides. I
      returned to the US in 2018, started college that fall, and
      <b>later graduated with honors spring 2022 with a bachelors in Computer Science.</b>
    </p>

    <p>
      I don't think that I've clearly defined how jazzed I was about Excel. In 2018 I got a job at WebBuy as Customer
      Support and was quickly tasked with, scrapping, normalizing and sifting Excel 100's of <code>.csv</code> files to
      match customers. I initially automated the process purely with excel formulas, Selenium, and page joins. As I progressed
      through college I later refactored the process to Java. My efforts saved the company time and money, provided
      useful analytics, and helped me to strengthen my skills programming.
    </p>
    <mat-divider></mat-divider>
    <div>
      <button mat-button (click)="emailMe()">Hire Me</button>
      <button mat-button>Experience</button>
    </div>
  </mat-card>
</div>

<ng-template> </ng-template>

<!-- beautiful text -->
<ng-template #beautiful let-word="word">
  <span>
    <ng-container *ngFor="let char of word.split(''); let i = index">
      <span class="beautiful" style="color: deeppink">{{ char }}</span>
    </ng-container>
  </span>
</ng-template>
