:host
    margin: 2em
    // display: flex

.resume
    backdrop-filter: contrast(.8)
    padding: 2em
    .title
        display: inline-flex
        justify-content: space-between
        align-items: flex-end
    
.bullets
    line-height: 0

h4, h5, h6
    margin-bottom: 0

.mb0
    margin-bottom: 0

.pb1
    padding-bottom: 1em

.pb3
    padding-bottom: 3em