<div>
  <h3>[WIP] About Me:</h3>
  <p>
    
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
</div>

<!-- <div>
  <h1>Resume</h1>
  <mat-divider></mat-divider>
  <p>
    <b>Full Stack Developer</b> with 2 years of experience in web development. Passionate about learning new technologies
    and solving complex problems. Strong communication skills and ability to work in a team environment.
  </p>
  <div>
    <button mat-button >Skills</button>
    <button mat-button >Experience</button>
  </div>
  <div>
    <button mat-button >Junior Engineer</button>
  </div>
  <mat-divider></mat-divider>
</div> -->
<!-- 
<mat-card>
  <ng-container [ngTemplateOutlet]="skills"></ng-container>
  <ng-container [ngTemplateOutlet]="experience"></ng-container>
  <ng-container [ngTemplateOutlet]="junior"></ng-container>
</mat-card>

<ng-template #skills>
  <h5>Skills:</h5>
  <mat-divider></mat-divider>
  <p>HTML/CSS • AWS • Angular • TypeScript • Node.js • MySQL • RESTful API • GraphQL</p>
</ng-template>

<ng-template #experience>
  <h5>Work Experience:</h5>
  <mat-divider></mat-divider>
</ng-template>

<ng-template #junior>
  <h4>Junior Engineer</h4>
  <span><u>WebBuy</u> • Full-time</span>
  <sub>Remote</sub>
  <p><b>Technologies: AWS • Microservice architecture • MySQL • TypeScript • Angular</b></p>
  <p>Effectively manages increasing responsibilities and communications with WebBuy products and team.</p>
  <ul>
    <li>Implemented 100% of customer back-facing application updates from V2 to V3.</li>
    <li>Outperformed peers by 10 days delivering version updates from Node14 to 20 and Angular12 to 17.</li>
    <li>Developed and maintained 3 internal tools, reducing team workload by 30%.</li>
    <li>Streamlined high-traffic feature, eliminated excessive API calls, measurably reducing operation costs.</li>
    <li>Invented internal-user tools, improving moral, reducing dev and non-dev workloads.</li>
  </ul>
</ng-template>
 -->
