<div>
  <!-- <h3>About Me:</h3>
  <p>
    Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
    Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
    voluptatibus.
  </p>
</div> -->

  <!-- <div>
  <h1>Resume</h1>
  <mat-divider></mat-divider>
  <p>
    <b>Full Stack Developer</b> with 2 years of experience in web development. Passionate about learning new technologies
    and solving complex problems. Strong communication skills and ability to work in a team environment.
  </p>
  <div>
    <button mat-button >Skills</button>
    <button mat-button >Experience</button>
  </div>
  <div>
    <button mat-button >Junior Engineer</button>
  </div>
  <mat-divider></mat-divider>
</div> -->

  <mat-card class="resume">
    <ng-container [ngTemplateOutlet]="skillsList"></ng-container>
    <ng-container [ngTemplateOutlet]="experience"></ng-container>
  </mat-card>

  <ng-template #skillsList>
    <h6>Skills:</h6>
    <mat-divider></mat-divider>
    <p class="pb1">{{ joinArray(skills) }}</p>
  </ng-template>

  <ng-template #experience>
    <h6>Work Experience:</h6>
    <mat-divider></mat-divider>
    <ng-container [ngTemplateOutlet]="history"></ng-container>
  </ng-template>

  <ng-template #history>
    <ng-container *ngFor="let job of workHistory">
      <span class="title"
        ><h5>{{ job.title }}</h5>
        <span
          ><sub
            ><i>{{ date(job) }}</i></sub
          ></span
        ></span
      >
      <span
        ><u>{{ job.company }}</u> • {{ job.type }}</span
      >
      <sub>{{ job.location }}</sub>
      <p>
        <b>{{ joinArray(job.technologies) }}</b>
      </p>
      <p class="mb0">{{ job.summary }}</p>
      <ul class="bullets" *ngFor="let bullet of job.bullets">
        <li>{{ bullet }}</li>
      </ul>
      <span class="pb3"></span>
    </ng-container>
  </ng-template>
</div>
