.header
    position: sticky
    background-color: #333
    color: white
    font-weight: bolder
    transition: height 0.3s ease

    h1
        text-align: center
        margin: 0 
        padding: 12px
    nav
        display: flex
        align-content: center
        flex-wrap: wrap
        justify-content: center
        
        button

    .open
        height: 0
        transition: height 0.3s ease
        position: relative
    

